<div>
    <div>
        <div class="card">
            <div class="profile-container">
                <img src="../../../assets/Photo_Sanjeev.JPG" alt="Profile">
            </div>
            <div class="text-container">
                <h6>SANJEEV (CL1234)</h6>
                <h6>Email: Sanjeevgymail.com</h6>
            </div>
            <div class="divider" style="border: 1px solid rgb(248, 245, 245);"></div>
            <div class="content">
                <button class="about-btn">about</button>
                <button class="about-btn">about-modal</button>
                <button class="about-btn">about-modal works!</button>
                <button class="about-btn">about-modal works!</button>
                <button class="about-btn">Logout</button>
            </div>
        </div>
    </div>
</div>
