

<app-topnavbar></app-topnavbar>

<div class="container-flex">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-1 sidebar">
            <app-sidenavbar></app-sidenavbar>
        </div>
        <div class="col-md-11" style="width: 93%;">
            <div class="phone">
                <app-sidenavbar-phone></app-sidenavbar-phone>
            </div>
            <div class="main-router">
                <div class="card">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
