<div class="container-flex">
  <div class="row header-profile">
      <div class="col-md-2 col-profile d-flex-center">
        <div class="background-img">
          <div class="file-upload">
            <label for="file-input" class="file-label">
              <i class="fas fa-camera"></i>
            </label>
            <input id="file-input" type="file" accept="image/*" />
          </div>
          
       <img src="../../../assets/Photo_Sanjeev.JPG" alt="" class="profile-img-about">
      </div>
      </div>
      <div class="col-md-10">
        <h3>header duogqwbidygqwidgqwduwg</h3>
      </div>
  </div>
  <div class="row">
    <div class="col-md-2 sidebar-child" >
      <div class="row" style="margin-left: 0px;">
      <ul class="list-item">
        <li class="group-item">
          <a [routerLink]="['/dashboard/profile']" class="d-flex align-items-center">
            <i class="fas fa-money-bill-wave mr-2"></i>
            <span class="line-divider"></span>
            <span class="ml-2">About</span>
          </a>
        </li>
        <li class="group-item">
          <a [routerLink]="['/dashboard/profile/salary']" class="d-flex align-items-center">
            <i class="fas fa-money-bill-wave mr-2"></i>
            <span class="line-divider"></span>
            <span class="ml-2">Salary</span>
          </a>
        </li>
        <li class="group-item">
          <a [routerLink]="['/dashboard/profile/bank']" class="d-flex align-items-center">
            <i class="fas fa-university mr-2"></i>
            <span class="line-divider"></span>
            <span class="ml-2">Bank</span>
          </a>
        </li>
      </ul>
      
    </div>
    </div>
    <div class="col-md-10 profile-router" >
      <div class="custom-scrollbar">
        <router-outlet></router-outlet>
    </div>
    </div>
  
  
  </div>
</div>
