<div class="sidenav">
    <a [routerLink]="['/dashboard']"><i class="fas fa-home"></i><span>Home</span></a>
    <a [routerLink]="['/dashboard/profile']"><i class="fas fa-user"></i><span>Profile</span></a>
    <a href="#"><i class="fas fa-cog"></i><span>Settings</span></a>
    <a href="#"><i class="fas fa-envelope"></i><span>Messages</span></a>
    <a href="#"><i class="fas fa-bell"></i><span>Notifications</span></a>
    <a href="#"><i class="fas fa-calendar"></i><span>Calendar</span></a>
    <a href="#"><i class="fas fa-book"></i><span>Library</span></a>
    <a href="#"><i class="fas fa-chart-line"></i><span>Analytics</span></a>
    <a href="#"><i class="fas fa-question-circle"></i><span>Help</span></a>
    <a href="#"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a>
</div>

