<!-- <div class="container-flex" >
    <div class="row" style="background-color: rgb(24, 24, 24);">
        <div class="col-md-4" style="padding: 25px;">
            <h6 style="font-family: sans-serif;font: 18px;color: #01b1ba;"><b>GUARANTEED</b></h6>
            <p style="color: rgb(186, 186, 187);font-size: small;">
                Thank you for choosing Attendms.com as your trusted source for top-notch HRMS Portal. We look forward to
                serving you and providing you with the best HRMS solutions for all your needs.
            </p>
            <p style="color: rgb(186, 186, 187);font-size: small;">
                Stay dry. Stay fashionable. Choose ZEELretail.com.
            </p>
            <img src="../../../assets/logo_attendmss.png" style="width: 100px;height: 50px;"><br>
            <div style="margin-top: 20px;">
                <a class="navbar-brand" href="#"><i style="font-size: large;color:white;padding-right: 15px;"
                        class="fa-brands fa-twitter"></i></a>
                <a class="navbar-brand" href="#"><i style="font-size: large;color:white;padding-right: 15px;"
                        class="fa-brands fa-square-facebook"></i></a>
                <a class="navbar-brand" href="#"><i style="font-size: large;color:white;padding-right: 15px;"
                        class="fa-brands fa-instagram"></i></a>
                <a class="navbar-brand" href="#"><i style="font-size: large;color:white;padding-right: 15px;"
                        class="fa-brands fa-youtube"></i></a>
            </div><br>
            <p class="copyright" style="font-size: small;color: rgb(193, 194, 194);">© 2024 Attendms. Powered by Shopify</p>
        </div>
        <div class="col-md-4" style="padding: 25px;">
            <div class="row">
                <div class="col-md-6">
                    <h6 style="font-family: sans-serif;font: 18px;color: #01b1ba;"><b>CATEGORIES</b></h6>
                    <p style="color: rgb(186, 186, 187);font-size: small;">IT</p>
                    <p style="color: rgb(186, 186, 187);font-size: small;">Pharma</p>
                    <p style="color: rgb(186, 186, 187);font-size: small;">Digital Marketing</p>
                    <p style="color: rgb(186, 186, 187);font-size: small;">Motors</p>
                    <p style="color: rgb(186, 186, 187);font-size: small;">Contact</p>
                    <p style="color: rgb(186, 186, 187);font-size: small;">Track order</p>
                </div>
                <div class="col-md-6">
                    <h6 style="font-family: sans-serif;font: 18px;color: #01b1ba;"><b>QUICK LINKS</b></h6>
                    <p style="color: rgb(186, 186, 187);font-size: small;">About Us</p>
                    <p style="color: rgb(186, 186, 187);font-size: small;">Privacy Policy</p>
                    <p style="color: rgb(186, 186, 187);font-size: small;">FAQ</p>
                    <p style="color: rgb(186, 186, 187);font-size: small;">BLOG</p>
                    <p style="color: rgb(186, 186, 187);font-size: small;">C.S.R</p>
                    <p style="color: rgb(186, 186, 187);font-size: small;">P.O.S.H</p>
                    <p style="color: rgb(186, 186, 187);font-size: small;">Exchange and Return</p>
                </div>
            </div>

        </div>
        <div class="col-md-4" style="padding: 25px;">
            <h6 style="font-family: sans-serif;font: 18px;color: #01b1ba;"><b>CONTACT US</b></h6>
            <p style="color: rgb(186, 186, 187);font-size: small;">E-mail: sanjeev&#64;gmail.com</p>
            <p style="color: rgb(186, 186, 187);font-size: small;">Phone Support - Call + Whatsapp</p>
            <p style="color: rgb(186, 186, 187);font-size: small;">+918591201402/ +919833377277</p>
            <p style="color: rgb(186, 186, 187);font-size: small;">Timings: Monday to Friday (10:00 AM to 6:00 PM)</p>
        </div>
        <div>
        <p class="copyrightphone" style="font-size: small;color: rgb(193, 194, 194);">© 2023 Attendms. Powered by Sanjeev</p>
        </div>
    </div>
</div> -->

<div class="container-flex" >
    <div class="row" style="background-color: white;">
        <div class="col-md-4" style="padding: 25px;">
            <h6 style="font-family: sans-serif;font: 18px;color: #01b1ba;"><b>GUARANTEED</b></h6>
            <p style="color: black;font-size: small;">
                Thank you for choosing Attendms.com as your trusted source for top-notch HRMS Portal. We look forward to
                serving you and providing you with the best HRMS solutions for all your needs.
            </p>
            <p style="color:black;font-size: small;">
                Stay dry. Stay fashionable. Choose ZEELretail.com.
            </p>
            <img src="../../../assets/logo_attendmss.png" style="width: 100px;height: 50px;"><br>
            <div style="margin-top: 20px;">
                <a class="navbar-brand" href="#"><i style="font-size: large;color:black;padding-right: 15px;"
                        class="fa-brands fa-twitter"></i></a>
                <a class="navbar-brand" href="#"><i style="font-size: large;color:black;padding-right: 15px;"
                        class="fa-brands fa-square-facebook"></i></a>
                <a class="navbar-brand" href="#"><i style="font-size: large;color:black;padding-right: 15px;"
                        class="fa-brands fa-instagram"></i></a>
                <a class="navbar-brand" href="#"><i style="font-size: large;color:black;padding-right: 15px;"
                        class="fa-brands fa-youtube"></i></a>
            </div><br>
            <p class="copyright" style="font-size: small;color:black;">© 2024 Attendms. Powered by Shopify</p>
        </div>
        <div class="col-md-4" style="padding: 25px;">
            <div class="row">
                <div class="col-md-6">
                    <h6 style="font-family: sans-serif;font: 18px;color: #01b1ba;"><b>CATEGORIES</b></h6>
                    <p style="color: black;font-size: small;">IT</p>
                    <p style="color: black;font-size: small;">Pharma</p>
                    <p style="color: black;font-size: small;">Digital Marketing</p>
                    <p style="color: black;font-size: small;">Motors</p>
                    <p style="color: black;font-size: small;">Contact</p>
                    <p style="color: black;font-size: small;">Track order</p>
                </div>
                <div class="col-md-6">
                    <h6 style="font-family: sans-serif;font: 18px;color: #01b1ba;"><b>QUICK LINKS</b></h6>
                    <p style="color: black;font-size: small;">About Us</p>
                    <p style="color: black;font-size: small;">Privacy Policy</p>
                    <p style="color: black;font-size: small;">FAQ</p>
                    <p style="color: black;font-size: small;">BLOG</p>
                    <p style="color: black;font-size: small;">C.S.R</p>
                    <p style="color: black;font-size: small;">P.O.S.H</p>
                    <p style="color: black;font-size: small;">Exchange and Return</p>
                </div>
            </div>

        </div>
        <div class="col-md-4" style="padding: 25px;">
            <h6 style="font-family: sans-serif;font: 18px;color: #01b1ba;"><b>CONTACT US</b></h6>
            <p style="color: black;font-size: small;">E-mail: sanjeev&#64;gmail.com</p>
            <p style="color: black;font-size: small;">Phone Support - Call + Whatsapp</p>
            <p style="color: black;font-size: small;">+918591201402/ +919833377277</p>
            <p style="color: black;font-size: small;">Timings: Monday to Friday (10:00 AM to 6:00 PM)</p>
        </div>
        <div>
        <p class="copyrightphone" style="font-size: small;color:black;">© 2024 Attendms. Powered by Sanjeev</p>
        </div>
    </div>
</div>