<div class="sidenav-phone" style="background-color:  rgb(61, 204, 223);padding-top: 25%;padding-bottom: 5%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 col-md-4">
                <button class="btn-phone"><i class="fas fa-home"></i><span>Home</span></button>
                <button class="btn-phone"><i class="fas fa-user"></i><span>Profile</span></button>
                <button class="btn-phone"><i class="fas fa-cog"></i><span>Settings</span></button>
                <button class="btn-phone"><i class="fas fa-sign-out-alt"></i><span>Logout</span></button>

            </div>
            <div class="col-4 col-md-4">
                <button class="btn-phone"><i class="fas fa-envelope"></i><span>Messages</span></button>
                <button class="btn-phone"><i class="fas fa-bell"></i><span>Notifications</span></button>
                <button class="btn-phone"><i class="fas fa-calendar"></i><span>Calendar</span></button>
            </div>
            <div class="col-4 col-md-4">
                <button class="btn-phone"><i class="fas fa-book"></i><span>Library</span></button>
                <button class="btn-phone"><i class="fas fa-chart-line"></i><span>Analytics</span></button>
                <button class="btn-phone"><i class="fas fa-question-circle"></i><span>Help</span></button>
            </div>
        </div>
    </div>
</div>
