/* You can add global styles to this file, and also import other style files */
*input:focus {
    outline: none;
}


html, body {
    overflow-x: hidden; /* Hide horizontal overflow */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


